In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/생활이동_자치구_202310/생활이동_자치구_2023.10_00시.csv', encoding='cp949')

In [3]:
df.head()

     대상연월 요일  도착시간  출발 시군구 코드  도착 시군구 코드 성별  나이 이동유형  평균 이동 시간(분) 이동인구(합)
0  202310  일     0      11010      11010  F   0   EH          282   55.22
1  202310  일     0      11010      11010  F  10   EE          159   11.93
2  202310  일     0      11010      11010  F  10   EH           85   11.92
3  202310  일     0      11010      11010  F  10   HH          135    5.87
4  202310  일     0      11010      11010  F  10   HW            7    5.98